<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Add Employee</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/employee' ? 'active' : '' %>" href="/employee">Employees</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Login' ? 'active' : '' %>" href="/Login">Login</a>
            </li>   
        </ul>
    </nav>
</header>